@charset "utf-8";

body{

    font-family: 'Playwrite IS Guides', Arial, sans-serif;
    background: linear-gradient(
        to right
        , #d9d4eb
        , #2a3074
    )
    ;
    display: flex;

}

main {

	max-width: 75em;
	min-width: 50em;
	width: 100%;
    margin: 0 auto;
     
}

section {

    width: 40%;
    overflow-y: auto;
    justify-content: center;
    
    
}

header {

    margin: 0 auto;
    justify-content: center;
    display: flex;
    
}

h1, h2 {

    margin: 0 auto;
    justify-content: center;
    display: flex;

}

img {

    display: flex;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    justify-content: center;

}
 
#one, #two {

    position: absolute;

}

#one {

    top: 20%;
    right: 50.5%;
    bottom: 50.5%;
    left: 1%;
    margin: 0 auto;

}

#two {

    top: 20%;
    right: 1%;
    bottom: 50.5%;
    left: 50.5%;
    margin: 0 auto;

}

