/*Stylesheet for mediaqueries*/

body {
    background: magenta;
    color: cyan;
    height: calc(100% - 1em);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 700px) {
    body {
        background: #ba0c2f;
    }
}

@media screen and (min-width: 1100px) {
    body {
        background: #fdd023;
    }
}

@media screen and (min-width: 1500px) {
    body {
        background: #0021a5;
    }
}

p {
    font-size: 2em;
    font-family: 'Snap ITC';
    color: black;
}